{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    body{
        margin: 0px;
        background: url({% static "img/wood2.jpg" %});
        background-size: cover;
    }

    .show > .pos{
        display: none;
    }

    table{
        border: 15px #6b402f solid;
    }


    .pos {
        width: 4.5vw;
        max-width: 55px;
        height: 4.5vw;
        max-height: 55px;
        border-radius: 100px;
        border: 2px solid white;
        background: url({% static "img/woodPart.PNG" %});
        padding: 0;
    }


    .RED_TOKEN {
        background: red;
    }
    .YELLOW_TOKEN {
        background: #b7b702;
    }

    #reloadBtn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .hidden{
        visibility: hidden;
    }

    .hiddenPlus{
        visibility: hidden;
    }

    #pvp, #vsia{
        margin: 4px;
    }

    .winToken{
        background: darkgreen !important;
    }

    #messageBox{
        align-self: center;
        margin-left: 20px;
        color: white;
    }

    @media (max-width: 1000px) {
      .mainCt{
            top: calc(25px - 4.5vw);
            width: 100vw;

            display: flex;
            flex-direction: row;
            justify-content: center;

            position: relative;
            z-index: 1;
        }
    }
    @media (min-width: 1000px) {
      .mainCt{
            top: -10px;
            width: 100vw;

            display: flex;
            flex-direction: row;
            justify-content: center;

            position: relative;
            z-index: 1;
        }
    }


    .chooseBtnContent{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;

        top: 5px;
        position: relative;
        z-index: 0;
    }

</style>

<div class="show">
    <div class="view pos RED_TOKEN active">
    </div>

    <div class="view pos YELLOW_TOKEN">
    </div>

    <h1 id="messageBox">Au tour du joueur rouge de jouer</h1>
</div>

{% csrf_token %}

<button type="button" class="btn btn-light" id="reloadBtn" onclick="reloadGame()"><i class="fas fa-sync-alt"></i></button>

<button type="button" class="btn btn-light" id="vsia" onclick="gameVsIa()"><i class="fas fa-robot"></i>&nbsp;PvIA</button>
<button type="button" class="btn btn-light" id="pvp" onclick="gameVsPlayer()"><i class="far fa-handshake"></i>&nbsp;PvP</button>

<div class="chooseBtnContent">

    {% for j in jColumns %}
        <div class="pos btn RED_TOKEN" id="posBtn{{ j }}" onclick="tokenPress({{ j }})"></div>
    {% endfor %}

</div>

<div class="mainCt">
    <table>
        {% for i in iLines %}
            <tr class="line {{ i }}">
                {% for j in jColumns %}
                    <td class="column">
                        <div class="placement pos {{ j }}"></div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}