.line, .column {
    border: 0px;
    background: #9a8279;
}

.pos.active{
    border: 3px solid green;
}

.pos.btn{
    margin: 1px;
    cursor: pointer;
}

.pos.btn:hover{
    border-color: white;
}
.pos.btn.RED_TOKEN:hover{
    background: #e66868;
}
.pos.btn.YELLOW_TOKEN:hover{
    background: #f9f973;
}

